<section>
  <div class="mb-4">
    <div class="card-body pt-1" #container>
      <div class="row">
        <form [formGroup]="peopleForm" autocomplete="off" class="col-12">
          <div class="row">
            <div class="col-md-6">
              <mdb-form-control class="mb-4">
                <input
                  mdbValidate
                  mdbInput
                  type="text"
                  id="formFullName"
                  class="form-control"
                  formControlName="fullName"
                />
                <label mdbLabel class="form-label" for="formFullName">
                  Nombre Completo <span>*</span>
                </label>
                <div class="label-error-form" *ngIf="isControlInvalid('fullName')">
                  <mdb-error> El nombre debe contener al menos 5 caracteres</mdb-error>
                </div>
              </mdb-form-control>
            </div>

            <div class="col-md-6">
              <mdb-form-control class="mb-4">
                <input
                  mdbValidate
                  mdbInput
                  type="number"
                  id="formAge"
                  class="form-control"
                  formControlName="age"
                />
                <label mdbLabel class="form-label" for="formAge">
                  Edad <span>*</span>
                </label>
                <div
                  class="label-error-form"
                  *ngIf="isControlInvalid('age')"
                >
                  <mdb-error>
                    La edad es requerida y debe ser mayor a 18
                  </mdb-error>
                </div>
              </mdb-form-control>
            </div>

            <mdb-chips>
                <mdb-form-control
                  class="chips-input-wrapper chips-transition"
                  [class.chips-padding]="skills.length > 0"
                >
                  <mdb-chip
                    [customClass]="
                      url.invalid
                        ? 'chip-outline btn-outline-danger'
                        : 'chip-outline btn-outline-success'
                    "
                    *ngFor="let url of skills.controls; let i = index"
                    (deleted)="deleteSkill(i)"
                  >
                    <span
                      [class]="
                        url.invalid
                          ? 'text-chip text-danger'
                          : 'text-chip text-success'
                      "
                      >{{ url.value }}</span
                    >
                    <i class="close fas fa-times" mdbChipDelete></i>
                  </mdb-chip>
                  <input
                    mdbChipsInput
                    mdbValidate
                    type="text"
                    id="formSkills"
                    class="form-control chips-input"
                    formArrayName="skills"
                    (chipAdd)="addSkill($event)"
                    (blur)="markControlAsTouched('skills')"
                  />
                  <label mdbLabel class="form-label" for="formSkills"
                    >Habilidades
                    <span>*</span></label
                  >
                </mdb-form-control>
                <div class="row mb-4">
                  <span
                    class="error-input-text"
                    *ngIf="isControlInvalid('skills')"
                    >{{ getErrorSkillField() }}</span
                  >
                </div>
              </mdb-chips>
           
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
