$input-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

@import "@fortawesome/fontawesome-free/css/all.css";

@import "mdb-angular-ui-kit/assets/scss/mdb.scss";

html,
body {
  height: 100%;
}

body {
  background-color: #fbfbfb;
  margin: 0;
}

.error-input-text {
  color: #dc4c64;
  font-size: 0.875rem;
  padding-top: 0.3rem;
}

.label-error-form {
  margin-bottom: 3rem;
}

.actionButton {
  width: 6.9rem;
}

.datepicker-title {
  display: none;
}
